body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #e6ecf0;
  color: #14171a;
  font-size: 14px;
  line-height: 20px;
}

h1 {
    padding: 40px 0 20px 0;
    font-size: 24px;
    line-height: .8;
}

#navbar {
  border-bottom: 1px solid rgba(0,0,0,0.25);
  background-color: #fff;
  height: 46px;
  position: relative;
  width: 100%;
}

.nav {
  width: 875px;
}

.login {
  border: 1px solid rgba(0,0,0,0.25);
  border-bottom: 0;
  margin-top: .5em;
  background-color: #fff;
  height: 230px;
  width: 850px;
}

.login-footer {
  border: 1px solid rgba(0,0,0,0.25);
  border-top: 0;
  height: 100px;
  width: 850px;
  background-color: #f5f8fa;
  padding: 20px 12px 20px 126px;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #657786;
}

.remember-btn {
  border-radius: 12px;
  background-color: #1da1f2;
  border: 1px solid #1da1f2;
  color: #fff;
  border-radius: 100px;
  box-shadow: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  font-size: 13px;
}

.remember {
  display: inline;
  margin-left: 32px;
  text-align: left;
  color: #14171a;
  line-height: 30px;
}

.remember-wrapper {
  margin-top: 25px;
}

.inner-login {
  margin: 0 115px;
}

.input-wrapper {
  margin-bottom: 15px;
}

input {
  width: 97%;
  max-width: 280px;
  margin-right: 10px;
  display: inline-block;
  width: 210px;
  height: 30px;
  padding: 4px;
  margin: 0;
  outline: 0;
  background-color: #fff;
  border: 1px solid #e6ecf0;
  border-radius: 2px;
  margin: 0;

}

.forgot {
  display: inline;
  margin: 0;
}

input::placeholder {
  font-weight: lighter;
  font-size: 14px;
  margin-left: 0;
}

.nav-img {
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 3px;
}

.nav-link {
  height: 46px;
  font-size: 13px;
  color: #66757f;
  padding-top: 13px;
  font-weight: 500;
}

li>a:hover {
  color: #1c94e0;
  border-bottom: 2px solid #1c94e0;
  transition: all .15s ease-in-out;
}

#stolen {
  margin-top: 1em;
}
